{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Ancla</title>
    <link rel="stylesheet" href="{% static 'ponte/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="{% static 'ponte/topologia.js' %}"></script>
    <script src="https://d3js.org/d3.v4.js"></script>
</head>
<body>
<div class='global'>
    <div class='navbar'>
        <div class='header'>
            <span class='material-icons'><a href="/">home</a></span>
        </div>
        <div class='contenido'>
        <h1>Ancla</h1>
        <span class='material-icons'>hub</span>
        <p>Nombre: {{ancla.nombre}}</p>
        <p>Descripción: {{ancla.descripcion}}</p>
        <p>Tipo: {{ancla.tipo}}</p>
        <p>Estado: {{ancla.estado}}</p>
        <p>IP Publica: {{ancla.ip_publica}}</p>
    </div>
    </div>
    <div class='topologia'>
        <div id="box"></div>
        <script> 
            var dispositivos = [
                {% for dispositivo in ancla.dispositivos.all %}
                    {
                        "nombre": "{{ dispositivo.nombre }}",
                        "descripcion": "{{ dispositivo.descripcion }}",
                        "tipo": "{{ dispositivo.tipo }}",
                        "estado": "{{ dispositivo.estado }}",
                        "ip": "{{ dispositivo.ip_privada }}",
                        "mac": "{{ dispositivo.mac }}",
                        "localizacion": "{{ dispositivo.localizacion }}",
                        "id": "{{ dispositivo.id_dispositivo }}",
                        "sistema_operativo": "{{ dispositivo.sistema_operativo }}",

                    },
                {% endfor %}
            ];
            createTopology(dispositivos);
        </script>
    </div>
    </div>
</div>
</body>
</html>
