{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Create Network</title>
    <link rel="stylesheet" href="{% static 'ponte/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div class='header'>
        <span class='material-icons'><a href="/">home</a></span>
    </div>
    <div class='form'>
        <form class='form' method="POST" enctype="multipart/form-data">
            {% csrf_token %}
             {{ form.as_p }}
            <br/>
            <input class="submit" type="submit" value="Create">
        </form>
        {% if request.method == 'POST' and form.is_valid %}
        <p class='success' style='font-size: 20px; color: green;'>Post is OK</p>
    {% endif %}
    </div>
</body>
</html>
