{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Crear Red</title>
    <link rel="stylesheet" href="{% static 'ponte/style.css' %}">
</head>
<body>
    <div class='header'>
        <a href='/'><img src="{% static 'ponte/img/casa.png' %}" class='logo'/></a>
    </div>
    <div class='formulario'>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
             {{ form.as_p }}
             {%if form.errors%}
                <p>Algunos campos no son validos</p>
             {%endif%}
            <br/>
            <input class="submit" type="submit" value="Create">
        </form>
    </div>
</body>
</html>
