{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Ponte</title>
    <link rel="stylesheet" href="{% static 'ponte/style.css' %}">
</head>
<body>
    <div class='navbar'>
        <div class='header'>
        <h1>Redes</h1>
        </div>
        <div class='redes'>
        {% for r in redes %}
                {% if r.estado == 1 %}
                <div class='red'>
                    <p>{{ r.nombre }}</p>
                    <span class='verde'/>
                    <br/>
                </div>
                {% else %}
                <div class='red'>
                    <p>{{ r.nombre }}</p>
                    <span class='rojo'/>
                </div>
                {% endif %}
        {% endfor %}
        </div>
</body>
</html>

