{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Ponte</title>
    <link rel="stylesheet" href="{% static 'ponte/style.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
     <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
</head>
<body>
    <div class='global'>
    <div class='navbar'>
        <div class='header'>
        <h1>Redes</h1>
        </div>
        <div class='redes'>
        {% for r in redes %}
                {% if r.estado == 1 %}
                <div class='red' onclick="window.location.href='ponte/red/{{ r.id_red }}';">
                    <p>{{ r.nombre }}</p>
                    <span class='verde'/>
                    <br/>
                </div>
                {% else %}
                <div class='red' onclick="window.location.href='ponte/red/{{ r.id_red }}';">
                    <p>{{ r.nombre }}</p>
                    <span class='rojo'/>
                </div>
                {% endif %}
        {% endfor %}
        </div>
        <div class='buttons'>
            <a href='/ponte/grupo/crear_grupo' class='button'><button>Crear Grupo</button></a>
            <a href='/ponte/red/crear_red' class='button'><button>Crear Red</button></a>
            <a href='/ponte/configuracion' class='button'><button>Configuración</button></a>
        </div>
    </div>
    <div id="map"></div>
    <script>
    const map = L.map('map').setView([42.755, -7.8661], 8);

    L.tileLayer('https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
        maxZoom: 18
    }).addTo(map);

    map.on('click', function(e) {
        map.eachLayer(function (layer) {
            if (layer instanceof L.Marker) {
                map.removeLayer(layer);
            }
        });
        const x = e.latlng.lat;
        const y = e.latlng.lng;
        const marker = L.marker([x, y]).addTo(map);
        marker.bindPopup("<b>Coordenadas</b><br/>" + x + ", " + y + "<br/><a href='/ponte/red/crear_red/" + x + "," + y + "' class='buttonpop'><button>Crear red aquí</button></a>").openPopup();
        const container = document.getElementsByClassName('leaflet-control-container')[0];
        const customControl = L.DomUtil.create('div', 'leaflet-bar leaflet-control');
        container.appendChild(customControl);
    });
    </script>
    </div>
    </div>
</body>
</html>
