{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Ponte</title>
    <link rel="stylesheet" href="{% static 'ponte/style.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
     <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
</head>
<body>
    <div class='global'>
    <div class='navbar'>
        <div class='header'>
        <h1>Redes</h1>
        </div>
        <div class='redes'>
        {% for r in redes %}
                {% if r.estado == 1 %}
                <div class='red'>
                    <p>{{ r.nombre }}</p>
                    <span class='verde'/>
                    <br/>
                </div>
                {% else %}
                <div class='red'>
                    <p>{{ r.nombre }}</p>
                    <span class='rojo'/>
                </div>
                {% endif %}
        {% endfor %}
        </div>
        <div class='buttons'>
            <a href='/ponte/crear_red' class='button'><button>Crear Red</button></a>
            <a href='/ponte/crear_punto' class='button'><button>Crear Punto</button></a>
        </div>
    </div>
    <div id="map">
    <script>
    const map = L.map('map').setView([42.755, -7.8661], 8);

    L.tileLayer('https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
        maxZoom: 18
    }).addTo(map);
    </script>
    </div>
    </div>
</body>
</html>
